<nav class="nav-grimoire">
  <div class="nav-titulo">
    <span class="nav-simbolo">&#9775;</span>
    <span class="nav-nome">Código de Alquimia</span>
    <span class="nav-simbolo">&#9775;</span>
  </div>
  <div class="nav-links">
    <a routerLink="/atanor"        routerLinkActive="ativo">O Atanor</a>
    <a routerLink="/materia-prima" routerLinkActive="ativo">Materia Prima</a>
    <a routerLink="/grimorio"      routerLinkActive="ativo">O Grimório</a>
    <a routerLink="/arquivos"      routerLinkActive="ativo">Consultar Arquivos</a>
  </div>
</nav>
